.nav-bar-tab {
  display: none;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 30rem;
  background-color: var(--black-color);
  border: 2px solid var(--black-color);
  border-radius: 4rem;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}
.nav-bar-tab-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.8rem;
}
.nav-bar-tab--icon {
  width: 2rem;
  cursor: pointer;
}
.nav-bar-tab-dropdown-content {
  display: none;
  position: absolute;
  top: -130%;
  left: 10%;
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
  font-size: var(--font-size-large);
  z-index: 1;
}
.nav-bar-tab-list {
  color: var(--white-color);
  padding: 12px 16px;
  display: block;
  cursor: pointer;
}
.nav-bar-tab-list:hover {
  background-color: var(--white-color);
  color: var(--black-color);
  border-radius: 0.5rem;
  font-size: var(--font-size-X-large);
}
.nav-bar-tab-dropdown:hover .nav-bar-tab-dropdown-content {
  display: block;
}

@media screen and (max-width: 480px) {
  .nav-bar-tab {
    margin: 0;
    border-radius: 0;
  }
}
.nav-bar-tab-dropdown {
  position: relative;
  display: inline-block;
}
