.footer {
  grid-area: footer;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
}
.footer__list {
  display: flex;
  align-items: center;
}
.footer__img {
  width: 1.5rem;
  margin: 4px 8px;
}
.footer__content {
  color: var(--white-color);
  font-size: var(--font-size-regular);
  margin: 8px;
}

/***** footer Ends Here *****/
